<mat-card class="login">
  <mat-card-header>
    <mat-card-title>Entrar</mat-card-title>
    <mat-card-subtitle>Já possui conta? Entre com seu e-mail e senha:</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <div class="inputs">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="f.email.errors?.required">O campo não pode ficar vazio!</mat-error>
          <mat-error *ngIf="f.email.errors?.email">Email inválido!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="f.password.errors?.required">O campo não pode ficar vazio!</mat-error>
          <mat-error *ngIf="f.password.errors?.minlength">No mínimo 6 caracteres!</mat-error>
        </mat-form-field>
      </div>
      <div class="buttons">
        <button mat-raised-button [disabled]="!form.valid" color="primary">Entrar</button>
        <button mat-stroked-button color="primary" routerLink="register">Criar conta</button>
      </div>
    </form>
  </mat-card-actions>
</mat-card>
