.register {
  max-width: 550px;
  margin: auto;
  margin-top: 150px;
  padding: 10px 30px;

  .form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;

    .inputs {
      display: flexbox;

      .right {
        margin-left: 20px;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      width: 190px;
    }
  }
}
