<mat-card class="main">
  <mat-card-header>
    <mat-card-title>Olá, {{ loggedUser.firstName }}!</mat-card-title>
    <mat-card-subtitle>Crie uma nova conta e divida com quem está te devendo!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-mini-fab color="basic" (click)="createBill()"  aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
  <div class="bills">
    <mat-accordion *ngFor="let bill of bills" class="bill-accordion">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ bill.title }}
              </mat-panel-title>
              <mat-panel-description>
                {{ formatToReais(bill.amount) }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h3>Divisão:</h3>
            <p *ngFor="let debtor of bill.debtors">
              <b>{{ debtor.email != loggedUser.email ? debtor.name : "Você" }}: </b>{{ formatToReais(debtor.debtValue) }}
            </p>
        </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-card>
